@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap);
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    border: 4px solid black;
    width: 100%;
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.box{
    border: 4px solid lightgray;
    width: 100px;
    height: 100px;
}
.box-wrapper{
    display: flex;
    align-items: center;
}
.box-small{
    width: 50px;
    height: 50px;
    margin-left: 17px;
}
.container-two{
    justify-content: center;
    width: 80%;
    max-width: 900px;
    margin: 30px auto 0 auto;
    padding: 24px 24px 0 24px;;
}
.row-set{
    width: 100%;
    max-width: 400px;
}
.title{
    border: 2px lightgray solid;
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.wrapper-two{
    flex-wrap: wrap;
    justify-content: space-between;
}
.box-two{
    width: 30%;
    margin-bottom: 24px;
}

